* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
nav {
  background-color: #FFD700;
}
.tdnformat {
  background-color: #FFD700;
  font-size: 3.5em;
  text-decoration: none;
  color: black;
}
.tdnformat:hover {
  text-decoration: underline;
}
.img {
  background-color: #FFD700;
}
.div1 {
  background-color: #FFD700;
  border-bottom: 4px solid #000000;
  text-align: center;
}


nav ul li {
  list-style-type: none;
  background-color: #FFD700;
  color: black;
  width: 473px;
  float: left;
  border-right: 3px solid #000000;
  border-bottom: 3px solid #000000;
  border-left: 3px solid #000000;
  border-radius: 12px;
  text-align: center;
}
li a {
  text-decoration: none;
  color: black;
  line-height: 50px;
  display: block;
}
li a:hover {
  background-color: black;
  color: #FFD700;
}
pre {
  margin-left: 650px;
  margin-top: 100px;
}
.table {
  margin-left: 650px;
  margin-top: 40px;
}
table tr td {
  border: 1px solid #FFD700;
}
td {
  color: #FFD700;
  background-color: black;
  padding: 5px;
}
